Checks: >
  *,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-do-while,
  -hicpp-signed-bitwise,
  -hicpp-no-malloc,
  -misc-use-anonymous-namespace,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -fuchsia-trailing-return,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -fuchsia-default-arguments-calls,
  -fuchsia-statically-constructed-objects,
  -hicpp-vararg,
  -llvmlibc-restrict-system-libc-headers,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-callee-namespace,
  -llvmlibc-inline-function-decl,
  -hicpp-avoid-c-arrays,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -google-readability-todo,
  -abseil-string-find-str-contains,
  -altera-unroll-loops,
  -misc-no-recursion,
  -altera-struct-pack-align,
  -cppcoreguidelines-prefer-member-initializer,
  -boost-use-ranges,
  -hicpp-uppercase-literal-suffix,
  -readability-uppercase-literal-suffix,
  -cert-msc51-cpp,
  -cert-msc32-c,
  -llvm-namespace-comment,
  -google-readability-namespace-comments
  -modernize-use-trailing-return-type

WarningsAsErrors: >
  modernize-use-nodiscard,
  modernize-use-ranges
